[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain-community = "*"
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
black = "*"
langchain-experimental = "*"
yfinance = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.12"
